<ion-header>
    <ion-navbar >
    <ion-grid>
    <ion-row align-items-center>
   
      <ion-col col-2 align-items-center>
        <ion-buttons>
          <button ion-button icon-only menuToggle>
            <ion-icon name='menu' ></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      
      <ion-col text-right>
      <a href="#">
      <ion-chip >
        <ion-icon name="pin" class="trackerButton"></ion-icon>
       </ion-chip>
       </a>
       <a href="#">
        <ion-chip >
        <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
       </ion-chip>
       </a>
       <a href="#">
       <ion-chip >
        <ion-icon name="notifications" class="notifications"></ion-icon>
       </ion-chip>
       </a>
       <a href="#" (click)="openFavouritesPage()">
       <ion-chip >
        <ion-icon name="heart" class="mealBox"></ion-icon>
       </ion-chip>
       </a>
      </ion-col>
    </ion-row>
    <ion-row>
    
    <ion-col col-8>
    <ion-item>
      <ion-input type="text" placeholder="Search for meals, snacks etc"></ion-input>
    </ion-item>
    </ion-col>
    <ion-col col-4 >
    <button ion-button class="loginButton" (click)="openLoginPage()" icon-end>Login <ion-icon name="log-in" ></ion-icon> </button>
    </ion-col>
    </ion-row>
    </ion-grid>
       
       
    </ion-navbar>
    
  </ion-header>
  
  <ion-content  class="content">
   
  <div *ngIf="!isCartEmpty">
  <ion-grid>
  <ion-row align-items-start>
  
  <ion-col>
  
  <a href="#" (click)="goToCheckout(userCart)" class="searchButton"  ion-button full >Checkout</a>
   
  <h6 ion-text color="dark" text-uppercase>Your Order <button (click)="deleteCart(userCart, userCart.Products)"> <ion-icon name="trash" ></ion-icon></button></h6>
  
   
  <ion-list>
      <ion-item *ngFor="let p of userCart.Products">
      <ion-row justify-content-end>
          <ion-col col-4>
       <ion-thumbnail item-start>
         <img src="{{p.Images.length>0?p.Images[0].ImageLink:'assets/imgs/snacks.jpg'}}">
        </ion-thumbnail>
        </ion-col>
        <ion-col col-5>
        <h2>{{p.Name}}</h2>
        <p>INR {{p.Prices[0].Price}}</p>
       
        <div class="cartOptions">
            <a href="#" (click)="openProductPage(product)">
                <ion-chip >
                       <ion-icon name="information" class="searchButton" ></ion-icon>
                     </ion-chip>
               </a>
        <a href="#" (click)="deleteProduct(userCart,p)">
            <ion-chip >
                 <ion-icon name="trash" class="searchButton" ></ion-icon>
               </ion-chip>
           </a>
           <a href="#" (click)="openFavouritesPage()">
       <ion-chip>
                 <ion-icon name="heart" class="addToFavourite" ></ion-icon>
               </ion-chip>
         </a>
        </div>
    </ion-col>
    
      <ion-col >
          <div class="quantity">
            
            <button class="btnDecrease" (click)="updateProductQuantity(p,userCart,false)">-</button>
            <span >{{p.QuantitySelected}}</span>
            <button class="btnIncrease" (click)="updateProductQuantity(p,userCart,true)">+</button>
          </div>
    
    </ion-col>
    </ion-row>
      </ion-item>
    </ion-list>
  
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>
  
  
        <h6 ion-text color="dark" text-uppercase>Bill Details</h6>
        
         
        <ion-list>
            <ion-item>
            <ion-row justify-content-end>
                <ion-col >
            Cart Total
              </ion-col>
              <ion-col text-right>
           INR {{userCart.CartTotal}}
          </ion-col>
            
          </ion-row>
            </ion-item>
            <ion-item>
                    <ion-row justify-content-end>
                        <ion-col >
                    Sub Total<br/>
                    Tax ({{userCart.TaxPercentage}}%)
                      </ion-col>
                      <ion-col text-right>
                   INR {{userCart.CartTotal}} <br>
                   <ion-icon name="add" class="" ></ion-icon> INR  {{userCart.SubTotal}}
                  </ion-col>
                    
                  </ion-row>
                    </ion-item>
                    <ion-item>
                            <ion-row justify-content-end>
                                <ion-col >
                            Grand Total
                              </ion-col>
                              <ion-col text-right>
                           INR {{userCart.GrandTotal}}
                          </ion-col>
                            
                          </ion-row>
                            </ion-item>
                            
          </ion-list>
        
        </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
         
      </ion-col>
  </ion-row>
  </ion-grid>
  <!-- <a href="#" (click)="goToCheckout(userCart)" class="searchButton"  ion-button full >Checkout</a> -->
  
</div>
<div *ngIf="isCartEmpty">
<ion-label text-center>Your cart is empty.</ion-label>
<a href="#" (click)="goToHome()" class="searchButton"  ion-button full >Start Ordering</a>
</div>    

  </ion-content>