<!-- Generated template for the MenuHeaderComponent component -->
<div>
   <ion-list>
        <ion-item *ngIf="!isAuthUser" >
            LOGIN
          </ion-item>
       <ion-item *ngIf="isAuthUser" >
          <button ion-button *ngIf="isAuthUser" (click)="navigateToMyOrders()" ion-button full color="light"> MY ORDERS
            </button>
       </ion-item>
       <ion-item *ngIf="isAuthUser">
          <button ion-button *ngIf="isAuthUser" (click)="signOut()" ion-button full color="light"> LOGOUT
            </button> 
        </ion-item>
     </ion-list>
  
</div>