<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <form [formGroup]="forgotPasswordForm">
    <ion-grid>
      <ion-row>
      <ion-col>
          <ion-item>
              <ion-label color="dark" floating>Enter your email</ion-label>
          <ion-input type="email" [(ngModel)]="email" [formControl]="forgotPasswordForm.controls['email']" clearInput></ion-input>
          </ion-item>
          <div *ngIf="!forgotPasswordForm.controls.email.valid && forgotPasswordForm.controls.email.dirty" class="validator-error validation-error-padding">
           {{emailValidation}}
          </div>  
      </ion-col>
    </ion-row>
    <div *ngIf="enableOtp">
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label color="dark" floating>Enter Otp</ion-label>
          <ion-input type="password" [(ngModel)]="otpValue" [formControl]="forgotPasswordForm.controls['otpValue']"  clearInput></ion-input>
        </ion-item>
        <div *ngIf="!forgotPasswordForm.controls.otpValue.valid && forgotPasswordForm.controls.otpValue.dirty" class="validator-error validation-error-padding">
            {{otpMessage}}
           </div>  
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="enableChangePassword">
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label color="dark" floating>New Password</ion-label>
          <ion-input type="password" [(ngModel)]="pValue" [formControl]="forgotPasswordForm.controls['pValue']" clearInput></ion-input>
        </ion-item>
        <div *ngIf="!forgotPasswordForm.controls.pValue.valid && forgotPasswordForm.controls.pValue.dirty" class="validator-error validation-error-padding">
            {{pwdValidation}}
           </div>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label color="dark" floating>Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cValue" [formControl]="forgotPasswordForm.controls['cValue']" clearInput></ion-input>
        </ion-item>
        <div *ngIf="!forgotPasswordForm.controls.cValue.valid && forgotPasswordForm.controls.cValue.dirty" class="validator-error validation-error-padding">
            {{pwdValidation}}
           </div> 
      </ion-col>
    </ion-row>
    </div>
    <ion-row padding>
      <ion-col>
          <div *ngIf="enableMsg">
              <ion-label >{{forgotMessage}}</ion-label>
            </div>
        <div *ngIf="!enableOtp && !enableChangePassword">
          <button ion-button color="light" [disabled]="!forgotPasswordForm.controls.email.valid" (click)="checkForValidUser()" icon-end>Submit<ion-icon name="log-in" ></ion-icon> </button>
        </div>
        <div  *ngIf="enableOtp">
            <button ion-button color="light" (click)="verifyUser()" [disabled]="!forgotPasswordForm.controls.otpValue.valid"  icon-end>Verify Me <ion-icon name="log-in" ></ion-icon> </button>
        </div>
        <div *ngIf="enableChangePassword">
            <button ion-button color="light" (click)="changePassword()" [disabled]="!forgotPasswordForm.controls.pValue.valid || !forgotPasswordForm.controls.cValue.valid"  icon-end>Change Password <ion-icon name="log-in" ></ion-icon> </button>
        </div>
      </ion-col>
    </ion-row>
   
    
    </ion-grid>
    </form>
  </div>
</ion-content>
