<!-- <div *ngFor="let panel of tabsInfo"> -->
<ion-tabs>

<ion-tab [root]="tabHome" tabIcon="home" tabTitle="Home" class="tabss"> </ion-tab>
<!-- <div *ngIf="panel.Type==3"> -->
<!-- <ion-tab *ngFor="let item of panel.Items" [root]="tabFoodmenu" tabIcon="restaurant" tabTitle="{{item.Title}}" class="tabss"> </ion-tab> -->
<ion-tab [root]="tabFoodmenu" tabIcon="cube" tabTitle="Products" class="tabss"> </ion-tab>
<!-- <ion-tab [root]="tabTiffin" tabIcon="cube" tabTitle="Jewellery" class="tabss"> </ion-tab> -->
<!-- </div> -->
<ion-tab [root]="tabCart" tabIcon="cart" tabTitle="Cart" class="tabss" tabBadge="{{tabCount}}"> </ion-tab>

</ion-tabs>
<!-- </div> -->