page-foodmenu {
a
{
text-decoration:none;
}
.content
{
background-color:#FAFAFA
}
.mealBox{
background-color:#E53935;
}
.notifications{
background-color:#C62828;
}
.whatsapp
{
background-color:#4CAF50;
}
.buttonMealbox{
background-color:#00838F;
}
.loginButton{
background-color:#01579B;
text-decoration:none;
}
.trackerButton{
background-color:#0277BD;
}
.tab{
color:#E53935
}
.addToCart
{
background-color:#0097A7;
}
.searchButton{
background-color:#00ACC1;
}
.addToFavourite{
background-color:#00838F;
}
.cardTitle
{
font-size:1.3em
}
.imageMenuLink
{
font-size:0.8em;
text-decoration: none;
color:#00ACC1
}
}

